{% extends "base.html" %}

{% block header %}
<h1 class="header">Recent</h1>
{% endblock header %}

{% block special_side_links %}
  <a href="/course/" class="side_navigation_items">Courses</a>
{% endblock special_side_links %}

{% block flashes %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
<ul class="flashes flashes_question">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}
{% endblock flashes %}

{% block main %}
<div class="col pt-4" id="home_content">
    <a class="row my-3 p-3" href="#">Paper 1</a>
    <a class="row my-3 p-3" href="#">Paper 2</a>
    <a class="row my-3 p-3" href="#">Paper 3</a>
    <a class="row my-3 p-3" href="#">Paper 4</a>
    <a class="row my-3 p-3" href="#">Paper 5</a>
    <a class="row my-3 p-3" href="#">Paper 6</a>
    <a class="row my-3 p-3" href="#">Paper 7</a>
    <a class="row my-3 p-3" href="#">Paper 8</a>
    <a class="row my-3 p-3" href="#">Paper 9</a>
    <a class="row my-3 p-3" href="#">Paper 10</a>
    <a class="row my-3 p-3" href="#">Paper 11</a>
    <a class="row my-3 p-3" href="#">Paper 12</a>
    <a class="row my-3 p-3" href="#">Paper 13</a>
    <a class="row my-3 p-3" href="#">Paper 14</a>
    <a class="row my-3 p-3" href="#">Paper 15</a>
    <a class="row my-3 p-3" href="#">Paper 16</a>
    <a class="row my-3 p-3" href="#">Paper 17</a>
    <a class="row my-3 p-3" href="#">Paper 18</a>
    <a class="row my-3 p-3" href="#">Paper 19</a>
    <a class="row my-3 p-3" href="#">Paper 20</a>
</div>
{% endblock main %}

{% block sideNav %}
<div class="ml-4" id="home_nav">
    <a class="row pl-2" id="manage_courses_btn" href="/course">
        <h1 class="px-3 py-1">C</h1>
        <div class="col">
            <h3>Manage</h3>
            <h5>Courses</h5>
        </div>
    </a>
</div>
{% endblock sideNav %}









