{% extends "base.html" %}
{% block main %}
    <div class="container pt-1" id="wrapper">
        <h3 id="home_title">Recent</h3>
        <div class="row">
            <div class="col pt-4" id="home_content">
                <div class="row my-3">Paper 1</div>
                <div class="row my-3">Paper 2</div>
                <div class="row my-3">Paper 3</div>
                <div class="row my-3">Paper 4</div>
                <div class="row my-3">Paper 5</div>
            </div>
            <div class="col-1"></div>
            <div class="col-3" id="home_nav">
                <div class="row mb-2 pl-2" id="generate_paper_btn">
                    <h1 class="px-3 py-1">G</h1>
                    <div class="col">
                        <h3>Generate</h3>
                        <h5>Paper</h5>
                    </div>
                </div>
                <div class="row mt-2 pl-2" id="question_bank_btn">
                    <h1 class="px-3 py-1">Q</h1>
                    <div class="col">
                        <h3>Question</h3>
                        <h5>Bank</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}