{% extends "base.html" %}


{% block main %}
    <form id="mark_form" method="post" action="" novalidate>
        <div class="form_content">
            <h5>Paper Marks: <span id="total_marks">{{ form.total_marks }}</span></h5>
            {% for constraint in form.fields %}
                <div class="pages">
                    <h3 class="field_header">{{ constraint }}</h3>
                    <div class="marks_err"></div>
                    {% for field in form.fields[constraint] %}
                        <div class="form__fields">
                            {{ field.label(class="hidden_label") }}
                            <label for="" class="label"></label>
                            <input type="number" class="input_field {{ constraint }}" min="1" step="1"/>
                            <div class="err {{ constraint }}_err"></div>
                        </div>
                    {% endfor %}

                    <div class="navigation_btns">
                        {% if loop.index!=1 %}
                            <button type="button" class="back_btn">Back</button>
                        {% endif %}
                        {% if loop.index!=5 %}
                            <button type="button" class="next_btn">Next</button>
                        {% else %}
                            <button type="submit" class="next_btn">Submit</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock main %}

