<!DOCTYPE html>
<html lang="en">

<head>
    <title>Generated Paper</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
            integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB" crossorigin="anonymous">
    </script>
    <script>
        Sentry.init({
            dsn: "https://c9335936f879448e8ba64f062636caaf@o374456.ingest.sentry.io/5192852",
        });
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

    <!-- <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap" rel="stylesheet"> -->

    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.5.0/css/all.css”
          integrity=“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU” crossorigin=“anonymous”>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css_file) }}"/>

</head>

<body>

	<div class="container-fluid p-5" style="border:1px solid green;">

		<div class="row">

			<div class="col"></div>
			<div class="col-2">
            	<img src="{{ url_for('static', filename='images/paper_logo.png') }}" class="paper_logo" alt="paper logo"/>
            </div>
			<div class="col"></div>

		</div>

		<div class="row" style="display: flex;justify-content: center; font-weight: bold;">
			<p style="margin: 0;">Subject : {{ course_name }}</p>
		</div>	
		<div class="row" style="display: flex;justify-content: center; font-weight: bold;">
			<p style="margin: 0;">{{ prefix }} Examination</p>
		</div>	
		<div class="row pb-3" style="font-weight: bold; border-bottom: 2px solid black;">
			<div class="col" style="text-align: left;"><p style="margin: 0;">Date : {{ date }}</p></div>
			<div class="col" style="text-align: center;"><p style="margin: 0;">{{ term }}</p></div>
			<div class="col" style="text-align: right;"><p style="margin: 0;">Time limit : {{ time_limit }}</p></div>
		</div>

		<div class="row pt-3 px-4" style="border-bottom: 2px solid black;">
			<h5 style="width: 100%; font-weight: bold;">Instructions :</h5>
			<div class="container" style="max-width: 97%;text-align: justify;">
				<ul>
					{% for instruction in instructions %}
						<li>{{instruction}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row mt-4" style="text-align: justify;">

			<ol type="1">

				<li style="padding-left: 10px">{{ Question }}<b>[{{ Mark }}]</b></li>
				<ol class="mb-4" type="A">
				  	{% for q in SubQuestions %}
						<li style="padding-left: 10px">{{ q }}</li>
					{% endfor %}
				</ol>

				<li style="padding-left: 10px">{{ Question }}<b>[{{ Mark }}]</b></li>
				<ol class="mb-4" type="A">
				  	{% for q in SubQuestions %}
						<li style="padding-left: 10px">{{ q }}</li>
					{% endfor %}
				</ol>

				<li style="padding-left: 10px">{{ Question }}<b>[{{ Mark }}]</b></li>
				<ol class="mb-4" type="A">
				  	{% for q in SubQuestions %}
						<li style="padding-left: 10px">{{ q }}</li>
					{% endfor %}
				</ol>

				<li style="padding-left: 10px">{{ Question }}<b>[{{ Mark }}]</b></li>
				<ol class="mb-4" type="A">
				  	{% for q in SubQuestions %}
						<li style="padding-left: 10px">{{ q }}</li>
					{% endfor %}
				</ol>

			</ol>


		</div>
    </div>

<script src="https://kit.fontawesome.com/84a8728d56.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

</body>

</html>