#wrapper {
  max-width: 90%;
}

#wrapper > .row {
  margin: 0;
}

#wrapper > .row > .row > .col {
  background: #9000f026;
}

.span_color {
  color: rgba(255, 255, 255, 0.7);
}

#page_title .col > h2 {
  color: #b0b0b0;
  font-size: 2vw;
  font-weight: bolder;
}
#index_page_link {
  color: #9000f026;
  font-size: 4vh;
  font-weight: bolder;
}
#index_page_link:hover {
  color: #9000f0;
}

.about_logo {
  width: 50%;
  margin: auto;
}
#about_content {
  text-indent: 5%;
  text-align: justify;
}
#about_content > p {
  width: 100%;
}
#team_title {
  border-bottom: 1px solid #b0b0b0;
  color: #b0b0b0;
  font-size: 2vw;
  text-align: center;
  width: 100%;
  font-weight: lighter;
}

#team > .row {
  width: 100%;
  position: relative;
  margin: 0;
}

#team_card {
  padding: 0;
  border: 1px solid #9000f0;
  border-radius: 10px;
}
#team_card {
  background: #9000f026;
}
#m_name {
  border-radius: 10px 10px 0 0;
  margin: 0;
  background: #9000f0;
  color: #ffffff;
  font-size: 1vw;
}
#m_speciality {
  margin: 0;
  font-size: 0.9vw;
}
#m_speciality > .col-1 {
  color: #9000f0;
}
#m_speciality > div {
  padding: 0;
}
