body::-webkit-scrollbar {
    display: none;
    position: fixed;
}

.flashes_question {
    background-color: white;
    border: 1px solid black;
    left: 50%;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    z-index: 2;
}

.flashes_question li {
    color: rgba(88, 88, 88, 1);
    font-size: 25px;
    padding: 10px 15px;
}

* {
    font-family: "Montserrat", sans-serif;
}

.block_main {
    /* margin-top: 14vh; */
    min-width: 100vw;
    min-height: 80vh;
    /*border:2px solid red;*/
}

.row {
    /*border:1px dotted yellow;*/
    position: relative;
    width: 100%;
}

#header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    background: #9000f0;
}

.logo {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.col1 {
    /*border :1px solid yellow;*/
    width: 5%;
}

.col2 {
    padding-left: 1.5%;
    width: 50%;
    transition: 1s;
    /*border :1px solid yellow;*/
}

.col3 {
    width: 40%;
    /*border :1px solid yellow;*/
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.col3 > .row {
    display: flex;
    justify-content: flex-end;
    /*border :1px solid red;*/
}

.col3 > .row > a > h4 {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    text-align: center;
    float: left;
    /*border :1px solid yellow;*/
    border-bottom: 2px solid #ffffff00;
    font-size: 1.2vw;
    font-weight: bold;
}

.col3 > .row > a > h4:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #ffffff;
}

.col4 {
    width: 5%;
    /*border :1px solid yellow;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.col4 > img {
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #000000;
    /*opacity: 0.8;*/
}

.col4 > img:hover {
    /*opacity: 1;*/
    box-shadow: 0 0 10px 2px #ffffff;
}

.col2 > h2 {
    font-size: 2.5vw;
    font-weight: bolder;
}

.col2 > h4 {
    font-size: 1vw;
}

#footer {
    left: 0;
    bottom: 0;
    position: fixed;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.5);
    transition: 1s;
    background: #9000f0;
}

.fl {
    color: rgba(255, 255, 255, 0.5);
}

.fl:hover {
    color: rgba(255, 255, 255, 1);
}

/*css for side navigation*/
* {
    letter-spacing: 2px;
}

#content {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

#sideNav {
    margin-right: 10px;
}

#course_link {
    cursor: pointer;
}

#explore_title,
#add_title,
#courses_title {
    align-items: center;
    background-color: rgba(144, 0, 240, 0.76);
    color: white;
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px;
}

#list_img,
#add_img {
    margin-right: 16px;
    width: 30px;
}

.explore_items,
.add_items,
.courses_items {
    background-color: white;
    color: rgba(76, 76, 76, 1);
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 5px;
}

.explore_items_container,
.add_items_container,
.courses_items_container {
    background-color: rgba(144, 0, 240, 0.15);
    padding: 5px;
    /* display: none; */
    margin: 0;
    /* margin-bottom: 20px; */
}

.explore_items:last-child,
.add_items:last-child,
.courses_items:last-child {
    margin-bottom: 0;
}

.explore_items img,
.add_items img,
.courses_items img {
    margin-right: 10px;
}

.nav_link,
.course_link {
    color: rgba(76, 76, 76, 1) !important;
    cursor: pointer;
    text-decoration: none !important;
}

.active {
    font-style: italic;
}

.courses_container,
.explore_container,
.add_container {
    margin-bottom: 20px;
    width: 330px;
}

/* .courses_container:hover .courses_items_container {
  display: block;
}

.explore_container:hover .explore_items_container {
  display: block;
}

.add_container:hover .add_items_container {
  display: block;
} */
