body,
a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.row {
  /*border:1px dotted red;*/
  position: relative;
  /* width: 100%; */
}

#footer {
  margin: 0;
  display: block;
  transition: 1s;
  background: #9000f0;
}

#footer_links > div > h6 > a {
  color: #ffffff;
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.7);
}

#social_links {
  margin: 0;
  font-size: 1vw;
}

.span_color {
  color: rgba(255, 255, 255, 1);
}

/*css for header*/
#header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  /* z-index: -1; */
  margin: 0px;
  padding: 0px;
  z-index: 2;
  background: #9000f0;
}
.header_contact {
  background-color: #9000f0 !important;
}
.col2 {
  padding-left: 1%;
  width: 85%;
  transition: 1s;
  /*border :1px solid yellow;*/
}

.col2 > h2 {
  font-size: 2.5vw;
}

.col2 > h4 {
  font-size: 1vw;
}

.col1 {
  /*border :1px solid yellow;*/
  width: 6%;
}
.logo {
  max-height: 100%;
  /* height: auto; */
  max-width: 100%;
  position: relative;
}
.logo:hover {
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .col2 {
    width: 72%;
  }

  .col2 > h2 {
    font-size: 4vw;
  }

  .col2 > h4 {
    font-size: 2vw;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .col2 {
    width: 82%;
  }

  .col2 > h2 {
    font-size: 3vw;
  }

  .col2 > h4 {
    font-size: 1.5vw;
  }
}

.a_color {
  color: white;
  font-size: 1vw;
}

a:hover {
  color: white !important;
  text-decoration: none;
}

.col3 {
  /* width: 40%; */
  /*border :1px solid yellow;*/
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.col3 > .row {
  display: flex;
  justify-content: flex-end;
  /*border :1px solid red;*/
}

.col3 > .row > a > h4 {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  text-align: center;
  float: left;
  /*border :1px solid yellow;*/
  border-bottom: 2px solid #ffffff00;
  font-size: 1.2vw;
}

.col3 > .row > a > h4:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid #ffffff;
}
