body::-webkit-scrollbar {
    display: none;
    position: fixed;
}

* {
    font-family: "Montserrat", sans-serif;
}

#bodycontent {
    transition: 1s;
}

.row {
    /*border:1px dotted red;*/
    position: relative;
    width: 100%;
}

.container-fluid {
    /*border:1px dotted yellow;*/
}

.login_page {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    position: fixed;
}

/************************************************************************/
.img1 {
    position: fixed;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    transition: 1s;
}

.overlape {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s;
    background: #9000f0b3;
}

/************************************************************************/

/************************************************************************/
#header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: -1;
}

.logo {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.col1 {
    /*border :1px solid yellow;*/
    width: 5%;
}

.col2 {
    padding-left: 1%;
    width: 85%;
    transition: 1s;
    /*border :1px solid yellow;*/
}

.col3 {
    width: 10%;
    /*border :1px solid yellow;*/
    display: inline-flex;
    align-items: center;
}

.col2 > h2 {
    font-size: 2.5vw;
}

.col2 > h4 {
    font-size: 1vw;
}

.login_btn {
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bolder;
    font-size: 1.5vw;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    color: #9000f0;
    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;
    border: none;
    outline: none !important;
}

/**********************************************************************/
#content {
    transition-property: visibility, opacity;
    transition-duration: 0s, 0.5s;
    overflow: auto;
}

#content.hidden {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.5s, 0s;
    transition-delay: 0s, 0.5s;
}

#footer {
    display: block;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.5);
    transition: 1s;
    background: #9000f0;
}

.fl {
    color: rgba(255, 255, 255, 0.5);
}

.fl:hover {
    color: rgba(255, 255, 255, 0.3);
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .col1 {
        width: 10%;
    }

    .col2 {
        width: 72%;
    }

    .col3 {
        width: 18%;
    }

    .col2 > h2 {
        font-size: 4vw;
    }

    .col2 > h4 {
        font-size: 2vw;
    }

    .login_btn {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 3vw;
    }
}

.span_color,
.a_color {
    color: white;
}

#loader_container {
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
}

#loader {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid rgba(144, 0, 240, 0.76);
    border-radius: 50%;
    border-top: 8px solid white;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*// Small devices (landscape phones, tablates, 576px and up)*/
@media (min-width: 576px) and (max-width: 991.98px) {
    .col1 {
        width: 6%;
    }

    .col2 {
        width: 82%;
    }

    .col3 {
        width: 12%;
    }

    .col2 > h2 {
        font-size: 3vw;
    }

    .col2 > h4 {
        font-size: 1.5vw;
    }

    .login_btn {
        padding-top: 6%;
        padding-bottom: 6%;
        font-size: 2vw;
    }
}
