.flashes,
.form__error {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

#form {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
}

.form__fields {
  display: flex;
  margin: 10px 0;
  width: 100%;
}

#form__fields__question {
  flex: 1;
}

.form__fields__label {
  display: inline-block;
  text-align: left;
  width: 70px;
}

.questionContainer {
  display: flex;
  margin: 0 0 10px 0;
}

.questionId {
  margin: 10px 0;
}

.questions {
  list-style-type: none;
  padding: 0 0 0 10px;
  margin: 0;
}

.questionItems {
  display: flex;
  margin: 10px 0;
}

.questionLabel {
  width: 70px;
}

.controlBtn {
  margin-left: 16px;
}

.cancelBtn {
  display: none;
}

form {
  margin-left: 10px;
}
