#course_form,
#unit_form {
  background-color: rgba(144, 0, 240, 0.15);
  box-shadow: 4px 4px 2px 0;

  padding: 10px;
  width: 550px;
}

#submit_btn,
#reset_btn {
  background-color: rgba(144, 0, 240, 0.15);
  border: none;
  /*color: rgba(88, 88, 88, 1);*/
  color : #585858;
  font-size: 20px;
  padding: 10px 20px;
}

#checkbox_label,
#checkbox {
  display: none;
}

#checkbox {
  height : 20px;
  width : 20px;
}

#form_content {
  background-color: white;
  padding: 10px;
}

#form_question_paper {
  padding-left: 10px;
}

.form__error {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.form__fields {
  background-color: rgba(144, 0, 240, 0.15);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form__checkbox {
  flex-direction: row;
}

.form__fields label {
  /*color: rgba(88, 88, 88, 1);*/
  color : #585858;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.form__fields input {
  padding: 10px;
}

.form__client_error,
.form__error li {
  color: red;
  margin: 0;
}

#page_container {
  padding-top: 100px;
}

#reset_btn:hover {
  cursor: pointer;
}

#submit_reset_container {
  margin-top: 15px;
  text-align: right;
}

#toggle_container {
  align-items: center;
  border-radius: 30px;
  background-color: #ccc;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  margin-right: 10px;
  width: 48px;
}

#toggle_container:hover {
  cursor: pointer;
}

#toggle_btn {
  background-color: white;
  border-radius: 50%;
  left: 4px;
  height: 16px;
  position: relative;
  transition: left 0.4s;
  width: 16px;
}

@media (max-width: 786px) {
  #body_container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #content {
    margin: 0 10px !important;
  }

  #form_question_paper {
    width: 550px;
  }

  #page_display {
    align-items: center;
  }

  #template_display {
    margin-right: 0 !important;
  }
}

@media (max-width: 568px) {
  #page_display {
    align-items: initial;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #course_form,
  #unit_form,
  #form_question_paper {
    width: 100%;
  }
}

@media (max-width: 575px){
  #checkbox {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 400px) {
  #submit_btn,
  #reset_btn {
    padding: 5px 10px;
  }
}
