#main_container > div {
  padding-top: 70px;
}

#page_title .col > h2 {
  color: #b0b0b0;
  font-size: 30px;
  font-weight: bolder;
}

#index_page_link {
  color: #9000f026;
  font-size: 4vh;
  font-weight: bolder;
}

#index_page_link:hover {
  color: #9000f0;
}

#policy_content {
  color: #808080;
}

@media (max-width: 960px) {
  #main_container > div {
    padding-top: 40px;
  }
}
