#index_page_link {
    color: #9000f026;
    font-size: 4vh;
    font-weight: bolder;
}

#index_page_link:hover {
    color: #9000f0;
}

#main_container > div {
    padding-top: 70px;
}

#page_title .col > h2 {
    color: #b0b0b0;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 40px;
    text-align: center;
}

#services_content {
    color: #808080;
    padding: 0.5rem 32px;
}

#services_content > h3 {
    width: 100%;
}

#services_content > p {
    padding-left: 3%;
    padding-right: 3%;
}

#services_content > ol {
    padding-right: 3%;
}

@media (max-width: 960px) {
    #main_container > div {
        padding-top: 40px;
    }

    #page_title .col > h2 {
        padding-top: 20px;
    }
}

@media (max-width: 340px) {
    #page_title .col > h2 {
        font-size: 20px;
    }
}
