#course_container {
  display: flex;
}

#add_course {
  /* background-color: rgba(144, 0, 240, 0.15); */

  background-color: rgba(144, 0, 240, 0.76);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  /* border: 5px solid rgba(144, 0, 240, 0.76); */
  transition: 0.3s;
  width: 240px;
}

#add_course:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.course_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.course_item {
  background-color: rgba(144, 0, 240, 0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgba(88, 88, 88, 1) !important;

  padding: 10px;
  margin: 10px;
  text-decoration: none !important;
  width: 200px;
}

.course_item:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}

.flashes_abs {
  background-color: white;
  border: 1px solid black;
  left: 50%;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  z-index: 2;
}

.flashes li {
  color: rgba(88, 88, 88, 1);
  font-size: 25px;
  padding: 10px 15px;
}
