#add_course,
#add_unit,#generate_paper {
  background-color: rgba(144, 0, 240, 0.76);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;

  text-decoration: none;
  transition: 0.3s;
  width: 240px;
}

#add_course:hover,
#add_unit:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#add_course_container,
#add_unit_container {
  margin-left: auto;
}

#add_img {
  margin-right: 15px;
}
#course_container,
#unit_container {
  display: flex;
}

.course_items,
.unit_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
}

.course_item,.unit_item {
  background-color: rgba(144, 0, 240, 0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*color: rgba(88, 88, 88, 1);*/
  color : #585858 !important;
  padding: 10px;
  margin: 10px 10px auto;
  text-decoration: none !important;
  width: 200px;
}

.course_item:hover,
.unit_item:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}

.hide {
  display: none;
}

#page_container {
  padding-top: 100px;
}

@media (max-width: 960px) {
  #page_container {
    padding-top: 70px;
  }
}

@media (max-width: 920px) {
  #body_container,
  #page_display {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 595px) {
  #body_container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .course_items,
  .unit_items {
    justify-content: center;
  }

  .course_items + div,
  .unit_items + div {
    display: none;
  }

  .hide {
    display: block;
  }

  #page_display {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
