.add_course,
#add_unit,
#add_unit_small,
#delete_unit_small,
#generate_paper,
.delete_course,
#delete_unit,
#add_course_small,
#delete_course_small{
  background-color: rgba(144, 0, 240, 0.76);
  border:0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  transition: 0.3s;
  width: 240px;
}

#add_course_small,
#delete_course_small,
#add_unit_small,
#delete_unit_small{
  width : 200px
}

#course_id {
  display: none;
}

.add_course:hover,
#add_course_small:hover,
#delete_course_small:hover,
#add_unit_small:hover,
#delete_unit_small:hover,
#add_unit:hover,
#generate_paper:hover,
.delete_course:hover,
#delete_unit:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  color : white;
  text-decoration: none;
  cursor: pointer;
}

#add_course_small,
#delete_course_small,
#add_unit_small,
#delete_unit_small
{
  display: none;
}

#add_course_container,
#add_unit_container {
  margin-left: auto;
}

.add_img {
  margin-right: 15px;
}
#course_container,
#unit_container {
  display: flex;
}

.course_items,
.unit_items {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
}

.course_item_container,.unit_item_container {
  background-color: rgba(144, 0, 240, 0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 10px 10px auto;
  width: 200px;
}

.course_item_container:hover,
.unit_item_container:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}

.course_item_container label,
.unit_item_container label{
  margin-bottom : 0;
}

.course_item,.unit_item {
  color : #585858 !important;
  display: block;
  flex-grow: 1;
  padding: 10px;
  text-decoration: none !important;
}

.delete_label{
  padding: 10px 0 10px 10px;
}

.hide {
  display: none;
}

#side_delete_course,#side_unit_course {
  border:none;
  width : 100%;
  background-color: inherit;
}
input[type='checkbox'] {
  height: 20px;
  margin: 15px 0 10px 10px;
  width : 20px;
}

#page_container {
  padding-top: 100px;
}

/*.unit_item {*/
/*  background-color: rgba(144, 0, 240, 0.15);*/
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*  color : #585858 !important;*/
/*  padding: 10px;*/
/*  margin: 10px 10px auto;*/
/*  text-decoration: none !important;*/
/*  width: 200px;*/
/*}*/

/*.unit_item:hover {*/
/*  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);*/
/*}*/

@media (max-width: 960px) {
  #page_container {
    padding-top: 70px;
  }
}

@media (max-width: 920px) {
  #body_container,
  #page_display {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 595px) {
  #body_container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .course_items,
  .unit_items {
    justify-content: center;
  }

  .course_items + div,
  .unit_items + div {
    display: none;
  }

  #add_course_small,
  #delete_course_small,
  #add_unit_small,
  #delete_unit_small{
    display: flex;
  }

  #page_display {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
