{% extends "headerFooter.html" %}

{% block general_top_links %}

 <a class="top_navigation_items" href={{ url_for("main.index") }}>
     <h4 class="py-2 mx-3">Home</h4>
 </a>

{% block special_top_links %}
{% endblock special_top_links %}

 <div class="dropdown_container">
     <h4 class="py-2 mx-3">More <i class="fa fa-caret-down"></i></h4>
     <div class="dropdown_items_container">
         <a class="top_navigation_items" href={{ url_for("main.about_us") }}>
             <h4 class="py-2 mx-3">About Us</h4>
         </a>
         <a class="top_navigation_items" href={{ url_for("main.help_page") }}>
             <h4 class="py-2 mx-3">Help</h4>
         </a>
         <a class="top_navigation_items" href={{ url_for("main.contact_us") }}>
             <h4 class="py-2 mx-3">Contact Us</h4>
         </a>
     </div>
 </div>


 <a class="top_navigation_items" href={{ url_for("users.logout") }}>
     <h4 class="py-2 mx-3">Log Out</h4>
 </a>
{% endblock general_top_links %}

{% block general_side_links%}

  <a class="side_navigation_items" href={{ url_for("main.index") }}>Home</a>

  {% block special_side_links%}
  {% endblock special_side_links%}
  <div class="dropdown_container_2 bb bt">
      <span class="side_navigation_items">More <i class="fa fa-caret-down"></i></span>
      <a class="side_navigation_items hide" href={{ url_for("main.about_us") }}>
          About Us
      </a>
      <a class="side_navigation_items hide" href={{ url_for("main.help_page") }}>
          Help
      </a>
      <a class="side_navigation_items hide" href={{ url_for("main.contact_us") }}>
          Contact Us
      </a>
  </div>
  <a class="side_navigation_items" href={{ url_for("users.logout") }}>Log Out</a>
  <a href="#" class="side_navigation_items bb" id="close_link">Close</a>
{% endblock general_side_links%}

{% block top_profile %}
 <div class="col4">
     <a class="profile_page" href={{ url_for("users.account") }}>
         <img src="{{ image_file }}" class="user" alt="user" title="profile" />
     </a>
 </div>
{% endblock top_profile %}

{% block side_profile %}
 <div class="col4">
     <a class="profile_page" href={{ url_for("users.account") }}>
         <img src="{{ image_file }}" class="user" alt="user" title="profile" />
     </a>
 </div>
{% endblock side_profile %}

{% block body %}

<div class="block_main">

    <div class="px-5 py-2" id="body_container">

        <div class="px-5" id="page_display">
            <div class="row mb-2">
                {% block header %} {% endblock header %}
            </div>
            <div id="content">
                <div class="mr-2" id="template_display">
                    {% block main %} {% endblock main %}
                </div>
                {% block sideNav %} {% endblock sideNav %}
            </div>
        </div>
    </div>
    {% block page %}
    {% endblock page %}
</div>

{% endblock body %}

{% block general_scripts %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/base.js') }}" defer="defer"></script>
{% endblock general_scripts %}
