{% extends "layout.html" %}
{% block main %}
<main>
    <div class="row pl-4" style="margin: 0;padding: 0;">
        <div class="container-fluid pr-5" id="content"
             style="margin:auto; width: 90%;overflow: auto; line-height: 1.6;">
            <div class="container-fluid mt-4">
                <i class="material-icons mr-3 float-left" style="font-size: 3vw">add_box</i>
                <h2 class="mt-1">Why you should use it?</h2>
                <div class="container-fluid ml-5 mt-4">
                    <div class="row">
                        <i class="material-icons mx-2 float-left" style="font-size: 2vw">double_arrow</i>
                        <p>It will save your time.</p>
                    </div>
                    <div class="row">
                        <i class="material-icons mx-2 float-left" style="font-size: 2vw">double_arrow</i>
                        <p>Super essay to use and handle.</p>
                    </div>
                    <div class="row">
                        <i class="material-icons mx-2 float-left" style="font-size: 2vw">double_arrow</i>
                        <p>Have a lots of features which will improve the quality control.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-4">
                <i class="material-icons mr-3 float-left" style="font-size: 3vw">info</i>
                <h2 class="mt-1">Some more glimpse.</h2>
                <div class="container-fluid ml-5 mt-4">
                    <div class="row pb-5">
                        <p class="text-justify" style="text-indent:5%;"><i
                                class="material-icons mx-2 float-left" style="font-size: 1.5vw">subdirectory_arrow_right</i>In
                            this modern world e-book has become a basic requirement for the candidates to appear
                            and prepare for their competitive exams within college premises. In this paper we
                            are proposing a model system for smart question paper generation of universities.
                            The mechanism behind this system is that many random question papers are generated
                            along with the difficulty level of the questions in terms of percentage. After
                            generation that particular question is then mailed to the respective university. In
                            this system administration of the database inputs set of question paper with an
                            option of check box to tick the correct answer. More ever weightage of the
                            particular question in terms of marks and hours and the complexity of the question
                            is determined. After this process whole question paper along with the weightage is
                            stored in the database. In order to make question paper for 100 marks, admin sets
                            all the weightage and difficulties to solve the problem. As soon as the difficulty
                            and weightage is specified a pre doc file as per selected format will be downloaded
                            to the admin and an electronic mail will be triggered. Range of difficulty may vary
                            from easy, medium and hard.</p>
                        <p class="text-justify" style="text-indent:5%;"><i
                                class="material-icons mx-2 float-left" style="font-size: 1.5vw">subdirectory_arrow_right</i>In
                            this modern world e-book has become a basic requirement for the candidates to appear
                            and prepare for their competitive exams within college premises. In this paper we
                            are proposing a model system for smart question paper generation of universities.
                            The mechanism behind this system is that many random question papers are generated
                            along with the difficulty level of the questions in terms of percentage. After
                            generation that particular question is then mailed to the respective university. In
                            this system administration of the database inputs set of question paper with an
                            option of check box to tick the correct answer. More ever weightage of the
                            particular question in terms of marks and hours and the complexity of the question
                            is determined. After this process whole question paper along with the weightage is
                            stored in the database. In order to make question paper for 100 marks, admin sets
                            all the weightage and difficulties to solve the problem. As soon as the difficulty
                            and weightage is specified a pre doc file as per selected format will be downloaded
                            to the admin and an electronic mail will be triggered. Range of difficulty may vary
                            from easy, medium and hard.</p>
                        <p class="text-justify" style="text-indent:5%;"><i
                                class="material-icons mx-2 float-left" style="font-size: 1.5vw">subdirectory_arrow_right</i>In
                            this modern world e-book has become a basic requirement for the candidates to appear
                            and prepare for their competitive exams within college premises. In this paper we
                            are proposing a model system for smart question paper generation of universities.
                            The mechanism behind this system is that many random question papers are generated
                            along with the difficulty level of the questions in terms of percentage. After
                            generation that particular question is then mailed to the respective university. In
                            this system administration of the database inputs set of question paper with an
                            option of check box to tick the correct answer. More ever weightage of the
                            particular question in terms of marks and hours and the complexity of the question
                            is determined. After this process whole question paper along with the weightage is
                            stored in the database. In order to make question paper for 100 marks, admin sets
                            all the weightage and difficulties to solve the problem. As soon as the difficulty
                            and weightage is specified a pre doc file as per selected format will be downloaded
                            to the admin and an electronic mail will be triggered. Range of difficulty may vary
                            from easy, medium and hard.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}