<!DOCTYPE html>
<html lang="en">

<head>
    <title>Set Now</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/layout.css') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb7cf58c3b.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/layout.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>

    <div id="page_content">

        <header>
            <div class="row pl-4 py-4 sticky-top" id="header" style="margin: 0; padding: 0;">
                <div class="col1">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" class="logo" alt="logo">
                </div>
                <div class="col2">
                    <h2>SetNow</h2>
                    <h4>Question Paper Generator</h4>
                </div>
                <div class="col3">
                    <button type="button" class="login_btn" id="show_login"
                            style="">Login
                    </button>
                </div>
            </div>
        </header>

        <div style="padding-top: 8%; border:2px solid red; color: #0099cc;">
            <div style="overflow: auto; border:1px solid red; margin-left: 10%;margin-right: 10%;">
                {% block main %}
                {% endblock %}
            </div>
            <footer>
                <div class="row" id="footer" style="margin: 0;padding: 0;">
                    <div class="col py-3 text-center" id="footercontent">
                                <span class="mr-3">© 2020 Copyright :
                                    <a href="http://localhost:5000/" class="fl"><b>setnow.com</b></a>
                                </span>
                        <span>|</span>
                        <a href="#" class="fl"><i class="fab fa-facebook-f mx-3"> </i></a>
                        <span>|</span>
                        <a href="#" class="fl"><i class="fab fa-twitter mx-3"> </i></a>
                        <span>|</span>
                        <a href="#" class="fl"><i class="fab fa-google-plus-g mx-3"> </i></a>
                        <span>|</span>
                        <a href="#" class="fl"><i class="fab fa-linkedin-in mx-3"> </i></a>
                        <span>|</span>
                        <a href="#" class="fl"><i class="fab fa-instagram ml-3"> </i></a>
                    </div>
                </div>
            </footer>
        </div>

    </div>

</body>

</html>