{% extends "layout.html" %} {% block main %}
<h1 class="header">Subjective Questions</h1>
<div id="questions">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %} {% block content %}
  <div class="control_btns">
    <div id="mark_imp">
      <img src="{{ url_for('static',
                filename='images/imp.svg') }}" class="control_btns_img" />
    </div>
    <div id="update_all">
      <img src="{{ url_for('static',
                filename='images/update.svg') }}" class="control_btns_img" />
    </div>
    <div id="delete_btn">
      <img src="{{ url_for('static',
                filename='images/bin.png') }}" class="control_btns_img" />
    </div>
    <div id="cancel_btn">
      <img src="{{ url_for('static',
                filename='images/cancel.svg') }}" class="control_btns_img" />
    </div>
  </div>
  {% for q in questions %}
  <div class="question_container">
    <div class="delete_question">
      <label><input type="checkbox" class="delete_checkbox" /></label>
    </div>
    <div class="question_info">
      <div class="first_row">
        <div class="first_row_column_1">ID: {{q.id}}</div>
        <div class="first_row_column_2">{{q.imp}}</div>
        <div class="first_row_column_3">
          <label><span class="mark_label"></span><input type="checkbox" name="isimp" value="false"
              class="imp_checkbox" /></label>
        </div>
      </div>
      <div class="second_row">
        <div class="second_row_column_1"></div>
        <div class="second_row_column_2">
          <div class="question_description">
            {{q.question}}
          </div>
          <div class="question_properties">
            <div class="marks">Marks : {{q.mark}}</div>
            <div class="difficulty">Difficulty : {{q.difficulty}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="update_question">
      <div class="edit_question">
        <img src="{{ url_for('static',
                    filename='images/edit.png') }}" class="update_question_img" />
      </div>
      <!-- <div class="delete_question"><img src="{{ url_for('static',filename='images/bin.png') }}"
                    class="update_question_img" /></div>
            <div></div> -->
    </div>
  </div>

  {% endfor %} {% endblock %}
</div>
{% endblock %}