<!DOCTYPE html>
<html>

<head>
    <title>
        Add Question
    </title>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/question_form.css') }}"/>
</head>

<body>
<div id="form">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} {% endwith %}
    <h3 id="form__question_paper">Question Paper</h3>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div class="form__fields">
            {{ form.question.label(class="form__fields__label") }}
            {{ form.question(id="form__fields__question") }}
        </div>
        {% if form.question.errors %}
            <ul class="form__error">
                {% for error in form.question.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form__client_error"></div>
        <div class="form__fields">
            {{ form.mark.label(class="form__fields__label") }}
            {{ form.mark(id="form__fields__mark", value=question.mark) }}
        </div>

        {% if form.mark.errors %}
            <ul class="form__error">
                {% for error in form.mark.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form__client_error"></div>
        <div class="form__fields">
            {{ form.difficulty.label(class="form__fields__label") }}
            {{ form.difficulty(id="form__fields__difficulty", value=question.difficulty) }}
        </div>

        {% if form.difficulty.errors %}
            <ul class="form__error">
                {% for error in form.difficulty.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form__client_error"></div>
        {{ form.submit }}
    </form>
</div>
<script type="text/javascript" src=" {{ url_for('static', filename='js/question_form.js') }}"></script>
</body>

</html>