{% extends "layout.html" %} {% block main %}
    <div id="questions">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %} {% endwith %} {% block content %}
        <h1>Question List</h1>
        <button id="mark">Mark As IMP</button>
        <button id="cancel">Cancel</button>
        <button id="update">Update</button>
        <button id="select">Select</button>
        <button id="delete">Delete</button>
        <hr/>
        {% for q in questions %}
            <div class="controlBtn">
                <button class="editBtn">EDIT</button>
                <button class="cancelBtn">Cancel</button>
            </div>
            <div class="questionContainer">
                <label class="questionId">
                    {{ q.id }}<input type="checkbox" class="deleteOption">
                </label>
                <div class="formContent">
                    <ul class="questions">
                        <li class="questionItems">
                            <div class="questionLabel">Question</div>
                            <div class="questionValue">:{{ q.question }}</div>
                        </li>
                        <li class="questionItems">
                            <div class="questionLabel">Mark</div>
                            <div class="questionValue">:{{ q.mark }}</div>
                        </li>
                        <li class="questionItems">
                            <div class="questionLabel">Difficulty</div>
                            <div class="questionValue">:{{ q.difficulty }}</div>
                        </li>
                        {% set options = ['A','B','C','D'] %}
                        {% set option_index = 0 %}
                        {% if q.option1 != None and q.option1!="" %}
                        <li class="questionItems">
                            <div class="questionLabel">{{options[option_index]}}</div>
                            <div class="questionValue">:{{ q.option1 }}</div>
                            {% set option_index = option_index +  1 %}
                        </li>
                        {% endif %}
                        {% if q.option2!=None and q.option2!="" %}
                        <li class="questionItems">
                            <div class="questionLabel">{{options[option_index]}}</div>
                            <div class="questionValue">:{{ q.option2 }}</div>
                            {% set option_index = option_index +  1 %}
                        </li>
                        {% endif %}

                        {% if q.option3 != None and q.option3 != "" %}
                        <li class="questionItems">
                            <div class="questionLabel">{{options[option_index]}}</div>
                            <div class="questionValue">:{{ q.option3 }}</div>
                            {% set option_index = option_index +  1 %}
                        </li>
                        {% endif %}

                        {% if q.option4!=None and q.option4!="" %}
                        <li class="questionItems">
                            <div class="questionLabel">{{options[option_index]}}</div>
                            <div class="questionValue">:{{ q.option4 }}</div>
                            {% set option_index = option_index +  1 %}
                        </li>
                        {% endif %}
                        
                        <li class="questionItems">
                            <div class="questionLabel">IMP</div>
                            <label><span class="questionValue">:{{ q.imp }}</span>
                                <input type="checkbox" name="imp_question" value="false" class="imp"
                                       id="{{ q.id }}"/></label>
                        </li>
                    </ul>
                </div>
            </div>


        {% endfor %} {% endblock %}
    </div>
{% endblock %}