<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='question.css') }}" /> -->
    <style>
        .flashes,
        .form__error {
            list-style-type: none;
            padding-left: 0;
            width: 100%;
        }

        #form {
            border: 1px solid black;
            border-radius: 10px;
            margin: 0 auto;
            padding: 10px;
            width: 70%;
        }

        .form__fields {
            display: flex;
            margin: 10px 0;
            width: 100%;
        }

        #form__fields__question {
            flex: 1;
        }

        .form__fields__label {
            display: inline-block;
            text-align: left;
            width: 70px;
        }
    </style>
</head>

<body>
    <div id="form">
        {% with messages = get_flashed_messages(with_categories=true) %} {%if
      messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <h3 id="form__question_paper">Question Paper</h3>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <div class="form__fields">
                {{form.question.label(class="form__fields__label")}}
                {{form.question(id="form__fields__question")}}
            </div>
            {%if form.question.errors%}
            <ul class="form__error">
                {%for error in form.question.errors%}
                <li>{{error}}</li>
                {%endfor%}
            </ul>
            {%endif%}
            <div class="form__client_error"></div>
            <div class="form__fields">
                {{form.mark.label(class="form__fields__label")}}
                {{form.mark(id="form__fields__mark")}}
            </div>

            {%if form.mark.errors%}
            <ul class="form__error">
                {%for error in form.mark.errors%}
                <li>{{error}}</li>
                {%endfor%}
            </ul>
            {%endif%}
            <div class="form__client_error"></div>
            <div class="form__fields">
                {{form.difficulty.label(class="form__fields__label")}}
                {{form.difficulty(id="form__fields__difficulty")}}
            </div>

            {%if form.difficulty.errors%}
            <ul class="form__error">
                {%for error in form.difficulty.errors%}
                <li>{{error}}</li>
                {%endfor%}
            </ul>
            {%endif%}
            <div class="form__client_error"></div>
            {{form.submit}}
        </form>
    </div>
    <script>
        const form = document.getElementsByTagName("form")[0];
        const question = document.getElementById("form__fields__question");
        const mark = document.getElementById("form__fields__mark");
        const difficulty = document.getElementById("form__fields__difficulty");
        const formErrors = document.querySelectorAll(".form__client_error");
        question.addEventListener("blur", e => {
            if (question.value.trim() === "")
                formErrors[0].innerHTML = "empty question";
            if (question.value.trim().length < 2)
                formErrors[0].innerHTML = "enter valid question";
        });
        question.addEventListener("input", e => {
            if (formErrors[0].innerHTML) formErrors[0].innerHTML = "";
        });
        mark.addEventListener("blur", e => {
            if (
                Number(e.target.value.trim()) < 1 ||
                Number(e.target.value.trim()) > 100 ||
                e.target.value.trim() === "" ||
                isNaN(Number(e.target.value.trim()))
            )
                formErrors[1].innerHTML = "enter marks between 1 and 100";
        });
        mark.addEventListener("input", e => {
            if (formErrors[1].innerHTML) formErrors[1].innerHTML = "";
        });
        difficulty.addEventListener("blur", e => {
            if (
                Number(e.target.value.trim()) < 1 ||
                Number(e.target.value.trim()) > 100 ||
                e.target.value.trim() === "" ||
                isNaN(Number(e.target.value.trim()))
            )
                formErrors[2].innerHTML = "enter difficulty between 1 and 100";
        });
        difficulty.addEventListener("input", e => {
            if (formErrors[2].innerHTML) formErrors[2].innerHTML = "";
        });
        form.addEventListener("submit", e => {
            let flag = 0;
            if (question.value.trim() === "") {
                formErrors[0].innerHTML = "empty question";
                flag++;
            }
            if (question.value.trim() < 2) {
                formErrors[0].innerHTML = "enter valid question";
                flag++;
            }
            if (
                Number(mark.value.trim()) < 1 ||
                Number(mark.value.trim()) > 100 ||
                mark.value.trim() === "" ||
                isNaN(Number(mark.value.trim()))
            ) {
                formErrors[1].innerHTML = "enter marks between 1 and 100";
                flag++;
            }
            if (
                Number(difficulty.value.trim()) < 1 ||
                Number(difficulty.value.trim()) > 100 ||
                difficulty.value.trim() === "" ||
                isNaN(Number(difficulty.value.trim()))
            ) {
                formErrors[2].innerHTML = "enter difficulty level between 1 and 100";
                flag++;
            }
            if (flag) {
                e.preventDefault();
            }
        });
    </script>
</body>

</html>