{% extends "base.html" %} {% block sideNav %}

<div id="sideNav">
    <div class="courses_container">
        <div id="courses_title">
            Courses
        </div>
        <div class="courses_items_container">
            {% for course in courses %}
            <div class="courses_items">
                <img alt="list_style_image" src="/static/images/list_style_image.svg" />
                <a href="/course/{{course.id}}/unit" class="course_link">{{ course.name }}</a>
            </div>
            {% endfor %}
            <div class="courses_items">
                <a href="/course" class="course_link">More...</a>
            </div>
        </div>
    </div>
    <div class="explore_container">
        <div id="explore_title">
            <img alt="list" src="{{ url_for('static',filename='images/list.svg') }}" class="list_img" />
            Explore
        </div>
        <div class="explore_items_container">
            <div class="explore_items">
                <img alt="list_style_image" src="{{ url_for('static',filename='images/list_style_image.svg') }}" />
                <a href="/course/{{course_id}}/unit/{{unit_id}}/question/mcq/" class="nav_link"><b>M</b>ultiple <b>C</b>hoice <b>Q</b>uestion</a>
            </div>
            <div class="explore_items">
                <img alt="list_style_image" src="{{ url_for('static',filename='images/list_style_image.svg') }}" />
                <a href="/course/{{course_id}}/unit/{{unit_id}}/question/sub/" class="nav_link"><b>S</b>ubjective <b>Q</b>uestion</a>
            </div>
        </div>
    </div>
    <div class="add_container">
        <div id="add_title">
            <img alt="add" src="{{ url_for('static',filename='images/add.svg') }}" class="add_img" />
            Add
        </div>
        <div class="add_items_container">
            <div class="add_items">
                <img alt="list_style_image" src="{{ url_for('static',filename='images/list_style_image.svg') }}" />
                <a href="/course/{{course_id}}/unit/{{unit_id}}/question/mcq/new/" class="nav_link"><b>M</b>ultiple <b>C</b>hoice <b>Q</b>uestion</a>
            </div>
            <div class="add_items">
                <img alt="list_style_image" src="{{ url_for('static',filename='images/list_style_image.svg') }}" />
                <a href="/course/{{course_id}}/unit/{{unit_id}}/question/sub/new/" class="nav_link"><b>S</b>ubjective <b>Q</b>uestion</a>
            </div>
        </div>
    </div>
</div>

{% endblock sideNav %}
