{% extends "base.html" %}

{% block header %}
<h3 id="form_question_paper">Add Course</h3>
{% endblock header %}

{% block special_top_links %}
 <a href="/course/" class="top_navigation_items">
     <h4 class="py-2 mx-3">Courses</h4>
 </a>
{% endblock special_top_links %}

{% block special_side_links %}
  <a href="/course/" class="side_navigation_items">Courses</a>
{% endblock special_side_links %}

{% block flashes %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
<ul class="flashes flashes_question">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}
{% endblock flashes %}


{% block main %}
<div id="form">


    <form method="POST" action="" novalidate id="course_form">
        {{ form.hidden_tag() }}
        <div id="form_content">
            <div class="form__fields">
                {{ form.course.label(class="form__fields__label") }}
                {{ form.course(id="form__fields__course") }}

                {% if form.course.errors %}
                <ul class="form__error">
                    {% for error in form.course.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="form__client_error"></div>
            </div>
            <div id="submit_reset_container">
                {{ form.submit(id="submit_btn") }}
                <button type="reset" id="reset_btn">Cancel</button>
            </div>
        </div>
    </form>
</div>
{% endblock main %}
