{% extends "base.html" %}
{% block image %}
<img src="{{ image_file }}" class="user" alt="user" title="profile" />
{% endblock image %}
{% block image2 %}
<img src="{{ image_file }}" class="user" alt="user" title="profile" />
{% endblock image2 %}
{% block flashes %}
{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %}
<ul class="flashes flashes_question">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}
{% endblock flashes %}
{% block main %}

<div id="unit_container">
    <div class="unit_items">
        {% for _unit in units %}

        <a class="unit_item" href='{{_unit.id}}/question/sub'>{{_unit.id}}. {{ _unit.name }}</a>
        <br>

        {% endfor %}
    </div>
    <div id="add_unit_container">
        <a id="add_unit" href="new">
            <div><img src="{{ url_for('static',filename='images/add.svg') }}" id="add_img" alt="add">Add Unit
            </div>
        </a>
    </div>
</div>

{% endblock main %}
