{% extends "main/general.html" %}
{% block main %}
    <div class="row m-5 mb-2" id="page_title">
        <div class="col">
            <h2>About Us</h2>
        </div>
    </div>

    <div class="container pt-1" id="wrapper">

        <div class="row p-2">
            <img src="{{ url_for('static',
                              filename='images/about_us.svg') }}" class="about_logo" alt="Image"/>
        </div>

        <div class="row p-2" id="about_content">
            <p>Welcome to SetNow, We're dedicated to giving you the
                very best of our service. We are hoping that,
                this website will help in lighten your work for
                making question paper. Our goal to make this
                website is to reduce hours of manual work to set
                question paper which cover all syllbas, include
                important qustions and with overall difficulty as
                you desire. This website is created by
                students of DA-IICT (Gandhinagar, Gujrat). This
                effort was made under the guidence of Prof.
                Saurabh Tiwari.
            </p>
            <p>We hope you enjoy our products as much as we enjoy
                offering them to you. If you have any questions
                or comments, please don't hesitate to contact us.</p>
        </div>

        <h3 class="my-4 py-3" id="team_title">Our Team</h3>

        <div class="row p-2" id="team">

            <div class="row mb-2">

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Niraj Kamdar
                            [201701184]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-code"></i></div>
                        <div class="col">Back-end developer,
                            Project manager
                        </div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Jeel Patel [201701176]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-desktop"></i></div>
                        <div class="col">Front-end developer,
                            UI designer
                        </div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Nikunj Kambariya
                            [201701191]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-palette"></i></div>
                        <div class="col">UI/UX designer,
                            Front-end developer
                        </div>
                    </div>
                </div>

            </div>

            <div class="row my-2">

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Jaymin Parmar
                            [201701203]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-tools"></i></div>
                        <div class="col">Quality assurance
                            engineer
                        </div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Vaibhav Chauhan
                            [201701221]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-tools"></i></div>
                        <div class="col">Quality assurance
                            engineer
                        </div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Karpit Patel
                            [201701174]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-tools"></i></div>
                        <div class="col">Quality assurance
                            engineer
                        </div>
                    </div>
                </div>

            </div>

            <div class="row my-2">

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Nirmal Patel
                            [201701193]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-tasks"></i></div>
                        <div class="col">Project manager, Team
                            Back-end
                        </div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Manan Solanki
                            [201701209]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-code"></i></div>
                        <div class="col">Team Back-end</div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Keshvi Bhimani
                            [201701186]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-code"></i></div>
                        <div class="col">Team Back-end</div>
                    </div>
                </div>

            </div>

            <div class="row my-2">

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Raj Kakadiya
                            [201701149]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-desktop"></i></div>
                        <div class="col">Team Font-end</div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Dharmang Gohel
                            [201701211]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-desktop"></i></div>
                        <div class="col">Team Font-end</div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Sarthak Shah
                            [201701169]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-desktop"></i></div>
                        <div class="col">Team Font-end</div>
                    </div>
                </div>

            </div>

            <div class="row mt-2 mb-4">

                <div class="col m-2" id="team_card" style="opacity: 0;">
                    <div class="row" id="m_name">
                        <p class="m-2">Kishan Sakdasariya
                            [201701158]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-code"></i></div>
                        <div class="col">Team Back-end</div>
                    </div>
                </div>

                <div class="col m-2" id="team_card">
                    <div class="row" id="m_name">
                        <p class="m-2">Kishan Sakdasariya
                            [201701158]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-code"></i></div>
                        <div class="col">Team Back-end</div>
                    </div>
                </div>

                <div class="col m-2" id="team_card" style="opacity: 0;">
                    <div class="row" id="m_name">
                        <p class="m-2">Kishan Sakdasariya
                            [201701158]</p>
                    </div>
                    <div class="row p-2" id="m_speciality">
                        <div class="col-1 px-1"><i class="fas
                                                      fa-code"></i></div>
                        <div class="col">Team Back-end</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock main %}