<!DOCTYPE html>
<html>

<head>

    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
                  shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
                  filename=css_file) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/header_footer.css') }}"/>
    <script src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
            integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB" crossorigin="anonymous">
    </script>
    <script>
        Sentry.init({
            dsn: 'https://c9335936f879448e8ba64f062636caaf@o374456.ingest.sentry.io/5192852'
        });
    </script>
</head>

<body>
<header>
    <div class="row pl-4 py-2 text-white sticky-top" id="header" style="margin: 0; padding: 0;">
        <!-- <a href="/" style="display: inline-block;"> -->
        <div class="col1">
            <img src="{{ url_for('static',
                                    filename='images/logo.svg') }}" class="logo" alt="logo" id="logo">
        </div>

        <div class="col2">
            <h2>SetNow</h2>
            <h4>Question Paper Generator</h4>
        </div>
        <!-- </a> -->

    </div>
</header>

<div style="padding-top:100px;">
    {% block main %}
    {% endblock main %}
</div>

<footer>
    <div class="row" id="footer">
        <div class="row" id="social_links">
            <div class="col py-3 text-center" id="footercontent">
                    <span class="mr-3 span_color" style="color:white;">© 2020 Copyright :
                        <a href="/" class="fl">setnow.herokuapp.com</a>
                    </span>
                <span class="span_color">|</span>
                <a href="#" class="fl"><i class="fab fa-facebook-f mx-3"> </i></a>
                <span class="span_color">|</span>
                <a href="#" class="fl"><i class="fab fa-twitter mx-3"> </i></a>
                <span class="span_color">|</span>
                <a href="#" class="fl"><i class="fab fa-google-plus-g mx-3"> </i></a>
                <span class="span_color">|</span>
                <a href="#" class="fl"><i class="fab fa-linkedin-in mx-3"> </i></a>
                <span class="span_color">|</span>
                <a href="#" class="fl"><i class="fab fa-instagram mx-3"> </i></a>
                <span class="span_color">|</span>
                <span class="mx-3 span_color">
                        <a href="/about-us" class="fl" id="about_page_link">About us</a>
                    </span>
                <span class="span_color">|</span>
                <span class="mx-3 span_color">
                        <a href="/help" class="fl" id="help_page_link">Help</a>
                    </span>
                <span class="span_color">|</span>
                <span class="mx-3 span_color">
                        <a href="/contact-us" class="fl" id="contact_page_link">contact Us</a>
                    </span>
                <span class="span_color">|</span>
                <span class="mx-3 span_color">
                        <a href="/privacy-policy" class="fl" id="policy_page_link">Privacy Policy</a>
                    </span>
                <span class="span_color">|</span>
                <span class="ml-3 span_color">
                        <a href="/terms-of-service" class="fl" id="services_page_link">Terms Of Services</a>
                    </span>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ url_for('static',filename='js/header.js') }}">

</script>
<script src="https://kit.fontawesome.com/bb7cf58c3b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{{ url_for('static',filename=js_file) }}" defer="defer"></script>

</body>

</html>