<!DOCTYPE html>
<html>

<head>
    <title>SetNow : Privacy Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb7cf58c3b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename=js_file) }}" defer="defer"></script>
    <!-- <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/.css') }}"/> -->
    <style type="text/css" rel="stylesheet" media="all">
        #page_title .col > h2 {
            color: #b0b0b0;
            font-size: 2vw;
            font-weight: bolder;
        }
        #index_page_link{
            color: #9000F026;
            font-size: 4vh;
            font-weight: bolder;
        }
        #index_page_link:hover{
            color: #9000F0;
        }
    </style>
</head>

<body>

      
      <div class="row m-5 mb-2" id="page_title">
            <div class="col">
                  <h2>Privacy Policy</h2>
            </div>
            <div class="col-1">
                  <a href="/" id="index_page_link"><i class="fas fa-arrow-circle-left"></i></a>
            </div>
      </div>

      <div class="container pt-1 pb-5 mb-5" id="wrapper">

            <div class="row p-2" id="help_content" style="text-align: justify;">

              https://setnow.herokuapp.com/  has created this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses our information gathering and usage practices. https://setnow.herokuapp.com/ does not sell or rent your personal identification to third parties. This policy is meant for all the content published in the site.<br>
              <b>Registration</b>
              Almost all the pages are visible to the users without registration. Still there is user registration and login module. Users may register themselves for comprehensive access to the site. We don't provide the information to any third party agent.<br>
              <b>Surveys</b>
              https://setnow.herokuapp.com/ conducts individual voluntary member surveys. We encourage our members to participate in these surveys because they provide us with important information that helps us to improve the types of services we offer, and how we provide them to you. The responses we collect in online surveys are anonymous.<br>
              <b>Feedback</b>
              Our site's feedback form requires users to give us contact information like their name and email address. We use this data to tailor the visitor's experience at our site, showing them the content that we think they might be interested in, and displaying the content according to their preferences. The customer's contact information is also used to contact the visitor when necessary.<br>
              <b>Electronic Newsletter</b>
              The site offers a free electronic newsletter to its users. We gather the e-mail addresses of users who voluntarily subscribe. Users may remove themselves from this mailing list by using the link provided in every newsletter.<br>
              <b>Cookies</b>
              Cookies are small pieces of information that are stored in a browser-related file on your computer's hard drive when you use our Web site. We use cookies to improve the member experience, like allowing the member to login without typing the registered email address or registration number and password. We also use them to deliver information and fresh content specific to your interests. Cookies are widely used on most major Web sites. When you register mycbseguide.com uses a cookie to store a unique, random user ID. We do not store passwords or any personal information about you. We use this ID to identify you anonymously in our database and to track the pages you visit on our site. Cookies also enable you to enter the sites ad use services as a member without having to login each time. If you have set your browser to warn you before accepting cookies, you will receive the warning message with each cookie. You can refuse cookies by turning them off in your browser.<br>
              <b>IP Address</b>
              Like most Internet sites, we use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to gather broad demographic information. This information is distributed to current and potential advertisers, but only in aggregate form. It does not contain information that identifies individual members.<br>
              <b>Advertising and Third Party Links</b>
              Some https://setnow.herokuapp.com/  advertisers and affiliate partners may request information directly from users, or link to sites that do so. mycbseguide.com has no control over its advertisers' privacy policies, and encourages users to review such policies prior to submitting any personal information to them. https://setnow.herokuapp.com/ contains non-advertising links to a variety of third party sites to enhance the member experience https://setnow.herokuapp.com/ has no control of either the content or privacy policies of such sites, nor should such links be considered an endorsement of these sites except where otherwise noted.<br>
              <b>Email Choice/Opt-out policy</b>
              Users who no longer wish to receive our newsletter or promotional materials from our partners may opt-out of receiving these communications by following the instructions contained in the e-mail.<br>
              <b>Information Disclaimer</b>
              The information provided on the site has been collected from individual teachers, students, and site visitors. Lots of information has been taken from related educational sites, books and other sources. It is presumed that we are not violating any copyrights. There is no intention to violate intellectual copyright or take credit for any establishment included in the databases. However, if any Institution has any objection, the same may be brought immediately to the notice of setnow@tuta.io We will ensure immediate Legal opinion on explicit observation/ complaint and take immediate steps to legalize it, if required.<br>
              https://setnow.herokuapp.com/ is not expected to offend anyone. However if any link to any Institute offends any surfer we at https://setnow.herokuapp.com/ take no responsibility concerning the impact or consequence of the same.<br>
              While we have made every effort to ensure the accuracy and authenticity of the information presented in this site, https://setnow.herokuapp.com/ cannot be held liable for any errors or inconsistencies.<br>
              <b>Contact us</b>
              So even if you have any questions about this privacy statement, the practices of this site or your dealings with this website contact us setnow@tuta.io<br>
  
            </div>

      </div>

</body>

</html>