* {
    letter-spacing: 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form_client_error {
    color: red;
    margin-bottom: 16px;
}

#account_form {
    background-color: rgba(144, 0, 240, 0.15);
    /*box-shadow: 0 4px 12px 0;*/
    /* height: 300px; */
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: none;
}

#account_form::-webkit-scrollbar {
    display: none;
}

#account_info {
    background-color: rgba(144, 0, 240, 0.76);
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* margin: 10px; */
    /* text-align: center; */
    padding: 10px;
}

#form_content {
    background-color: white;
    padding: 10px;
}

.form_items {
    background-color: rgba(144, 0, 240, 0.15);
    color: rgba(88, 88, 88, 1);

    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

label {
    margin: 0;
    padding-left: 8px;
}

#username,
#email {
    padding: 8px;
    color: rgba(88, 88, 88, 1);
}

#submit {
    width: 100%;
    border: 1px solid #9000F0;
    color: #9000F0;
}

#submit:hover {
    background: #9000F0;
    color: #ffffff;
}

#profile_pic {
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 12px 0;
}

.media {
    text-align: center;
    width: 50%;
    height: 100%;
    background: #9000F026;
    /* align-items: center; */
    /*box-shadow: 0 4px 12px 0;*/
    display: inline-block;
    flex-direction: column;
    padding-top: 20px;
}

.media-body {
    margin-left: 15px;
}

#topbar {
    position: sticky;
    top: 0;
    height: 8px;
    background-color: rgba(144, 0, 240, 0.15);
}

.content-section {
    display: flex;
}
