.invalid-feedback,
#user_name_error,
#user_email_error,
#user_password_error,
#user_confirm_password_error {
  color: red;
  margin-bottom: 16px;
}

.avtar {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avtar > img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 64px;
  height: 64px;
}

.container {
  background-color: rgba(144, 0, 240, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  max-width: 540px;
}

.form_submit {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

.rbtn {
  background: #9000f000;
  border: 1px solid #9000f0;
  color: #9000f0;
}

.rbtn:hover {
  background: #9000f0;
  color: #ffffff;
}

.register_other_links {
  border-top: 1px solid #b0b0b0;
}

.register_other_links > small {
  display: flex;
  justify-content: flex-end;
}

.register_other_links > small > a {
  color: #9000f0;
}

.register_page {
  margin: 0 10px;
  padding-top: 150px;
  padding-bottom: 50px;
}

@media (max-width: 960px) {
  .register_page {
    padding-top: 100px;
  }
}
