.application {
  color: chocolate;
}

.btn_container {
  text-align: right;
  margin-top: 15px;
  margin-right: 15px;
}

.comprehension {
  color: darkorchid;
}

#conflicts_container {
  background-color: rgba(144, 0, 240, 0.15);
  padding: 10px;
}

#conflicts_message {
  padding-left: 15px;
  font-size: 25px;
}

.easy {
  color: blue;
}

.first_row {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.first_row_column_1 {
  color: blue;
}
.first_row_column_2 {
  color: blue;
  flex-grow: 1;
  text-align: right;
}

.first_row_column_3 {
  display: none;
  flex-grow: 1;
  text-align: right;
}

.fifth_row {
  border-bottom: 1px solid black;
}

.sixth_row {
  display: flex;
}

.header {
  color: #585858;
  font-size: 40px;
  margin: 0 20px;
  font-weight: 500;
}

.hard {
  color: red;
}

.knowledge {
  color: forestgreen;
}

.left {
  display: inline-block;
  flex-shrink: 0;
  width: 190px;
}

.marks {
  color: firebrick;
}

.medium {
  color: orange;
}

#page_container {
  padding-top: 100px;
}

.options_final_value {
  background-color: rgba(144, 0, 240, 0.15);
  border-radius: 20px;
  color: #585858;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  word-break: break-word;
}

.question_info {
  background-color: white;
  color: #585858;
  border-radius: 10px;
  padding: 10px 5px;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 10px;
}

.question_description {
  color: blue;
  flex-grow: 1;
  padding-left: 5px;
  word-break: break-word;
}

.toggle_container {
  align-items: center;
  border-radius: 30px;
  background-color: #ccc;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  margin-right: 10px;
  width: 48px;
}

.toggle_container:hover {
  cursor: pointer;
}

.toggle_btn {
  background-color: white;
  border-radius: 50%;
  left: 4px;
  height: 16px;
  position: relative;
  transition: left 0.4s;
  width: 16px;
}

#generate_paper,
#fix_conflicts,
#abort,
#pdf_mail{
  background-color: rgba(144, 0, 240, 0.15);
  border: none;
  /*color: rgba(88, 88, 88, 1);*/
  color : #585858;
  font-size: 20px;
  padding: 10px 20px;
}

.label_checkbox,
.add_checkbox {
  display: none;
}

#logoform,#generate_pdf {
  background-color: rgba(144,0,240,0.15);
  box-shadow: 4px 4px 2px 0;
  padding: 10px;
  width: 550px;
}

#form_content {
  background-color: white;
  padding: 10px;
}

.form__fields {
  background-color: rgba(144,0,240,0.15);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form__fields label {
  color: #585858;
  font-size: 20px;
}

.form__fields input {
  padding: 10px;
}

.form_client_error {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}

.include {
  display: flex;
  align-items: baseline;
}

#template_display {
  padding-top: 0;
}

input[type='file']{
  padding: 0;
}

@media (max-width: 786px) {
  #body_container,#page_display {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #content {
    margin: 0 10px !important;
  }

  #logoform,#generate_pdf {
    width: 550px;
  }

  #page_display {
    align-items: center;
  }

  #template_display {
    margin-right: 0 !important;
  }
}

@media (max-width: 700px) {
  .left {
    width: 150px;
  }

  .question_info,
  #conflicts_message {
    font-size: 20px;
  }

  .options_final_value {
    font-size: 16px;
  }
}


@media (max-width: 575px) {
  .left {
    width: 120px;
  }

  .question_info,
  #conflicts_message {
    font-size: 16px;
  }

  .second_row {
    flex-direction: column;
  }
}

@media (max-width: 568px) {
  #page_display {
    align-items: initial;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

#logoform,#generate_pdf {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .marks,
  .difficulty {
    padding-bottom: 5px;
  }
}

@media (max-width: 370px) {
  .question_info {
    margin-right: 0;
  }
  .update_question {
    padding: 10px 5px;
  }
}
@media (max-width: 337px) {
  .cognitive {
    margin-left: 5px;
  }
  .fourth_row div {
    display: flex;
    align-items: center;
  }

  .left {
    width: 90px;
  }
}
