.block_main,#body_container,#page_display,
#template_display,#content{
    height: 100%;
}

#body_container{
    padding: 0 !important;
}

#pagination {
    text-align: center;
}

#paper_container {
    flex-grow: 1;
}

.papers {
    display: flex;
    flex-wrap: wrap;
    margin : 5px 5px 20px;
    padding: 5px;
}

.paper_fields {
    background-color: rgba(144,0,240,0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 10px;
    width : 250px;
}

#template_display {
    display: flex;
    flex-direction: column;
}

.links a{
    background-color: rgba(144, 0, 240, 0.76);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    color : white;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    width : 250px;
}

.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #585858;
  font-size: 40px;
  margin: 0 20px;
}

#home_content {
  background-color: #9000f026;

  height: 100%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  position: relative;
}

#home_content > a {
  background-color: #ffffff;
  color: #b0b0b0;
  margin: 0;
  text-decoration: none;
}

#home_nav {
  flex-shrink: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

#home_nav > .row {
  cursor: pointer;
  user-select: none;
  color: #b0b0b0;
  background-color: #9000f026;
  margin: 0;
  display: inline-flex;
  align-items: center;
  transition: 0.5s;
}

#home_nav > .row:hover {
  background-color: #9000f0;
  color: #ffffff;
}

#home_nav > .row > h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bolder;

  font-family: sans-serif;
  padding-left: 0 !important;
}

#home_nav > .row > .col {
  padding: 0 10px 0 0;
}

#home_nav > .row > .col > h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bolder;
}

#home_nav > .row > .col > h5 {
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
}

#manage_courses_btn {
  text-decoration: none !important;
}

#page_container {
  padding-top: 100px;
}

#papers_container {
  border: 2px solid red;
}

#wrapper {
  border: 2px solid green;
}

@media (max-width: 960px) {
  #page_container {
    padding-top: 70px;
  }
}

@media (max-width: 700px) {
  #page_display {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #home_nav {
    display: none;
    margin-left: 0 !important;
    margin-bottom: 16px;
  }
  .header {
    text-align: center;
  }
  .papers{
    justify-content: center;
  }
}